<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h1{
            font-size: 40px;
            color: blueviolet;
        }
        a{
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>About</h1>
    <img src="C:\Users\Admin\Documents\New project\img\girl-bg.jpg" alt="img">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit dolor perspiciatis corrupti tempora, atque exercitationem quia nulla asperiores minus. Excepturi quis incidunt reiciendis animi beatae, fuga quibusdam porro? In?</p>
    <a href="http://localhost:5000/resume">Resume</a>
</body>
</html>