<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css\styles.css">
   
</head>
<body>
    <header>
        <a href="http://localhost:5000/">Home</a>
        <a href="http://localhost:5000/resume">Resume</a>
        <a href="http://localhost:5000/services">Services</a>
        <a href="http://localhost:5000/contact">Contact</a>
    </header>
    <hr>
    
    <div>
    <h1>About</h1>
    <img src="img\girl-bg.jpg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta impedit dolor perspiciatis corrupti tempora, atque exercitationem quia nulla asperiores minus. Excepturi quis incidunt reiciendis animi beatae, fuga quibusdam porro? In?</p>
    </div>
</body>
</html>