<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="public\css\styles.css"> -->

    <style>
        h1{
            font-size: 40px;
            color: blueviolet;
        }

        a{
            color: red;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsa cupiditate excepturi. Ipsam dolorum omnis, sint animi nisi iste ut culpa blanditiis voluptates, voluptate consequatur. Perferendis nemo tenetur laudantium possimus?</h1>
    <a href="http://localhost:5000/about">About</a>
</body>
</html>

