<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="css\styles.css">

</head>
<body>
    <header> 
        <a href="http://localhost:5000/about">About</a>
        <a href="http://localhost:5000/resume">Resume</a>
        <a href="http://localhost:5000/services">Services</a>
        <a href="http://localhost:5000/contact">Contact</a>
    </header>
    <hr>
    
    <div>
        <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsa cupiditate excepturi. Ipsam dolorum omnis, sint animi nisi iste ut culpa blanditiis voluptates, voluptate consequatur. Perferendis nemo tenetur laudantium possimus?</p>
    </div>
</body>
</html>

