<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="css\styles.css">

  
</head>
<body>

    <header>
        <a href="http://localhost:5000/">Home</a>
        <a href="http://localhost:5000/about">About</a>
        <a href="http://localhost:5000/services">Services</a>
        <a href="http://localhost:5000/contact">Contact</a>
    </header>
    <hr>

    <div>
        <h1>Resume</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat reiciendis minus perspiciatis velit nobis accusantium, nemo culpa soluta quae doloremque incidunt voluptate quam labore voluptatum magnam voluptatibus distinctio obcaecati aspernatur.</p>
    </div>
    
  
</body>
</html>